<html>
<head>
	<title>AppSec Checklist</title>
    <!--link rel="stylesheet" href="styles/normalize.css"-->
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"> -->
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
	<script src="js/checklistCtrl.js"></script>
</head>
<body ng-app="">
    <div ng-controller="ChecklistCtrl">         
    	Search: <input ng-model="query.name">
        Sort by: 
    	<select ng-model="orderProp">
        	<option value="type">Type</option>
        	<option value="name">Name</option>
    	</select>
    	<hr>

        <ul class="list">
          <li ng-repeat="item in checklist | filter:query | orderBy:orderProp">
            <p>{{item.name}} ({{item.tasks.length}}) | {{item.type}}</p>
            <ol>
            	<li ng-repeat="child in item.tasks">{{child.task}}</li>
            </ol>
          </li>
        </ul>
    </div>
</body>
</html>
